name: couldai_user_app
description: "GreenPulse: Nurturing Plants, Building Communities"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  supabase_flutter: ^2.5.0
  qr_flutter: ^4.1.0
  camera: ^0.10.5+9
  provider: ^6.1.2
  flutter_animate: ^4.5.0
  flutter_local_notifications: ^17.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/